* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
    letter-spacing: 0.1rem;
    line-height: 1.5;
}

body {
    background: #d5e1ef;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    background: whitesmoke;
    max-width: 20rem;
    padding: 0.5rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px 1px grey;
    text-align: center;
}

img {
    width: 100%;
    border-radius: 1rem;
}

h1,
p {
    padding: 0 1rem;
}

h1 {
    font-size: large;
    margin: 0.5rem 0;
}

p {
    font-size: small;
    color: gray
}
